<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="content">
      <table class="print">
        <tr>
          <td>
            {{ with .Header }}
              {{ template "content-header-de.tmpl.html" . }}
            {{ end }}
            {{ with .Project }}
              {{ template "content-project-de.tmpl.html" . }}
            {{ end }}
            {{ with .Footer }}
              {{ template "content-footer-de.tmpl.html" . }}
            {{ end }}
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
